<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
        <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"></link>
        <script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    </head>
    <body>
        <button class="btn btn-primary" onClick="testApi()"> test </button>
    </body>
    <script>
        function testApi() {
            var formData = {
                'action' : 'stats',
                'link' : 'edbdb141',
                'date' : '2018-10-11',
                'id' : 'anyidasd'
            }
            $.ajax({
                url: "/app/api",
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function (response) {

                }
            });
        }

    </script>
</html>